header {
    background-color:#283584;
    color:white;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

.logo{
    width: 50px;
    height: 50px;

}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.column {
    float: left;
    width: 5%;
    padding: 5px;
  }

.menu{
    float: right;
    width: 5%;
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FAFAFA;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.input-group,.lock{
    width: 300px;
    margin: 10px;
    padding: 50px;
    border: 20px gray;
}



.logMasuk {
    background-color:#283584;
    color:#F2F1F6;
    border-radius: 30px;
    width: 20%;
    padding: 15px;
    font-size: large;
}

.pwdBaru {
    text-align: center;
    margin-bottom: 20px;
    color:#3B1A96;
    border-radius: 30px;
}

.emelBaru {
    margin-bottom: 15px;
    color:#961421;
}

.akaunBaru {
    background-color:#27C884;
    color:#F2F1F6;
    border-radius: 30px;
    width: 20%;
    padding: 15px;
    font-size: large;
}

